In [267]:
import pandas as pd

In [268]:
# Upload the data:
df = pd.read_csv('../Data/Cannabis.csv')
df.head()

,strain_id,strain_name,strain_type,strain_rating,effects_profile,flavor_profile,strain_description,strain_profile
0,0,1024,Sativa,4.4,"Uplifted,Happy,Relaxed,Energetic,Creative","Spicy/Herbal,Sage,Woody",1024 is a sativa-dominant hybrid bred in Spain...,"Sativa,Uplifted,Happy,Relaxed,Energetic,Creati..."
1,1,100 OG,Hybrid,4.0,"Creative,Energetic,Tingly,Euphoric,Relaxed","Earthy,Sweet,Citrus",$100 OG is a 50/50 hybrid strain that packs a ...,"Hybrid,Creative,Energetic,Tingly,Euphoric,Rela..."
2,2,13 Dawgs,Hybrid,4.2,"Tingly,Creative,Hungry,Relaxed,Uplifted","Apricot,Citrus,Grapefruit",13 Dawgs is a hybrid of G13 and Chemdawg genet...,"Hybrid,Tingly,Creative,Hungry,Relaxed,Uplifted..."
3,3,24K Gold,Hybrid,4.6,"Happy,Relaxed,Euphoric,Uplifted,Talkative","Citrus,Earthy,Orange","Also known as Kosher Tangie, 24k Gold is a 60%...","Hybrid,Happy,Relaxed,Euphoric,Uplifted,Talkati..."
4,4,303 OG,Indica,4.2,"Relaxed,Happy,Euphoric,Uplifted,Giggly","Citrus,Pungent,Earthy",The indica-dominant 303 OG is a Colorado strai...,"Indica,Relaxed,Happy,Euphoric,Uplifted,Giggly,..."

In [269]:
df['effects_profile'][0]

'Uplifted,Happy,Relaxed,Energetic,Creative'

In [270]:
df.shape

(1644, 8)

In [271]:
# Check for doubles:
df['strain_name'].value_counts()

Papaya               2
Pre 98 Bubba Kush    2
Diablo               2
Kahuna               2
Flo OG               2
                    ..
Legendary Lemon      1
Orange Creamsicle    1
91 Krypt             1
Jack Burton          1
Brian Berry Cough    1
Name: strain_name, Length: 1622, dtype: int64

In [272]:
pip install -U scikit-learn

Requirement already up-to-date: scikit-learn in /Users/mohamed/.local/share/virtualenvs/data_engineer-TgvPB158/lib/python3.7/site-packages (0.23.2)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /Users/mohamed/.local/share/virtualenvs/data_engineer-TgvPB158/lib/python3.7/site-packages (from scikit-learn) (1.19.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /Users/mohamed/.local/share/virtualenvs/data_engineer-TgvPB158/lib/python3.7/site-packages (from scikit-learn) (0.16.0)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /Users/mohamed/.local/share/virtualenvs/data_engineer-TgvPB158/lib/python3.7/site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in /Users/mohamed/.local/share/virtualenvs/data_engineer-TgvPB158/lib/python3.7/site-packages (from scikit-learn) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [273]:
# Build model:

In [274]:
import spacy
nlp = spacy.load('en_core_web_lg')

In [275]:
# def get_lemmas(text):

#     lemmas = []

    
#     doc = nlp(text)
    
#     # Something goes here :
#     for token in doc: 
#         if ((token.is_stop == False) and (token.is_punct == False)) and (token.pos_ != 'PRON'):
#             lemmas.append(token.lemma_)
    
#     return lemmas

In [276]:
# Define a function to tokenize the text:
def tokenizer(text):
    doc=nlp(text)
    return [token.lemma_ for token in doc if ((token.is_stop == False) and (token.is_punct == False)) and (token.pos_ != 'PRON')]

In [277]:
data = df.copy()

In [278]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors

In [279]:
# Build the model:
model = TfidfVectorizer(stop_words = 'english',
                       ngram_range = (1,2),
                       max_df = .95,
                       min_df = 3,
                       tokenizer = tokenizer)

# Fit and transform the data:
dtm = model.fit_transform(data['effects_profile'])

# Get features:
dtm = pd.DataFrame(dtm.todense(), columns = tfidf.get_feature_names())

# Print the feature matrix:
dtm.head()

,arouse,arouse creative,arouse energetic,arouse euphoric,arouse happy,arouse sleepy,arouse tingly,arouse uplifted,aroused,aroused creative,...,uplifted euphoric,uplifted focus,uplifted focused,uplifted giggly,uplifted happy,uplifted hungry,uplifted relaxed,uplifted sleepy,uplifted talkative,uplifted tingly
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.375601,0.0,0.0,0.0,0.000000,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.601281,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.618272,0.000000,0.0,0.0,0.0,0.000000,0.0

In [280]:
dtm.shape

(1644, 186)

In [281]:
nn = NearestNeighbors(n_neighbors=5, algorithm='kd_tree')
nn.fit(dtm)

NearestNeighbors(algorithm='kd_tree')

In [282]:
# Fin similar strains and return the strain_id:
# Victorise the text:
sample = ['I need something to make me energitic']
vec = model.transform(sample)
# find similar effects:
dense = vec.todense()
similar = nn.kneighbors(dense, return_distance=False)
similar.T

array([[ 937],
       [1035],
       [  85],
       [ 223],
       [ 537]])

In [283]:
similar[0][4]

537

In [284]:
output = []
for i in range(5):
    elem = similar[0][i]
    output.append(elem)
output

[937, 1035, 85, 223, 537]

In [286]:
data[data['strain_id']==1035]

,strain_id,strain_name,strain_type,strain_rating,effects_profile,flavor_profile,strain_description,strain_profile
1035,1035,OG Shark,Hybrid,4.5,"Relaxed,Uplifted,Happy,Euphoric,Tingly","Earthy,Chemical,Woody","OG Shark, a rare strain found primarily in Can...","Hybrid,Relaxed,Uplifted,Happy,Euphoric,Tingly,..."